.yellow-color{
    color: rgb(241, 99, 5);
}
 .white{
    color: aliceblue;
 }
 .white-center{
    text-align: center;
    color: aliceblue;
 }
 
h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 80px;
}
H3{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 60PX;
    color: rgb(3, 33, 59);
}
h4{
    font-size: 40PX;
    font-family: 'Abril Fatface', cursive;
    color: rgb(0, 0, 0);
    padding-left: 50px;
}
p{
    font-size: 30PX;

}

section{
    display: flex;
     margin-top: 100px;
}

.my-mission{
    display: flex;
 
}
.box-shadow{

    box-shadow: 10px 10px 10px 10px   rgb(43, 41, 41);
    margin-left: 2%;
    margin-bottom: 5%;
}
 

.half-width{
    width: 50%;
    padding: 8%;
}
 
 
 
.half-width img{
    width: 100%;
}
.LINK-BUTTON{
    text-decoration: none;
    background-color: rgb(250, 104, 7);
    color: aliceblue;
    font-weight: 700;
    background-image: linear-gradient(rgb(241, 168, 168), TOMATO);
    font-size: 20PX;
    border-radius: 5PX;
    padding: 10PX 40PX;
}
.padding{
    padding: 14%;
}

.footer{
    height: 200px;
    width: 2030px;
    background: #000;
}


/* banner */

.top-banner{
    background-image: url(./shapes/shape-1.png);
    background-repeat: no-repeat;
   background-size: 35%;
 
}

 